@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: utara;
  src: url("/Utara-Bold.woff2");
}

@font-face {
  font-family: patino;
  src: url("/Patinio Futura.ttf");
}

.loader-text{
  font-family: utara;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  background-color: white;
}

.product-item {
  position: relative; /* Necessary for absolute positioning of the reveal image */
  overflow: hidden;
}

.main-image {
  display: block; /* Ensure the image displays properly */
}

.reveal-onhover {
  object-fit: cover; /* Ensure image covers the entire area */
  display: none; /* Hide the reveal image by default */
}

.product-item:hover .main-image {
  display: none;
}

.product-item:hover .reveal-onhover {
  display: block;
}

@media (min-width: 768px) {
  .product-item:hover .input-selector {
    display: flex;
  }
  .input-selector > input:hover  {
    border:1px solid black;
  }
  .product-item:hover .product-name {
    display: none;
  }
}


.product-item {
  text-align: center;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: grid;
  gap: 10px;
  padding-block: 40px;
  position: relative;
}

.product-item::after {
  content: attr(data-status);
  padding-inline: 10px ;
  padding-block: 5px ;
  position: absolute;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 10px;
  top: 10px;
  left: 7px;
  font-weight: 700;
}

.product-item.sold-out::before {
  content: "Sold Out";
  position: absolute;
  top: 70%;
  right: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 0.9rem;
  padding: 5px 20px;
  z-index: 10; /* Ensure it sits above other content */
  text-align: center;
  font-weight: 600;
}


.product-item.sold-out:hover::before {
  filter: none;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-details {
  /* margin-top: 10px; */
  color: black;
  display: grid;
  gap: 10px;
}

.dock-image-wrapper{
  transition: all ease-in-out 3ms;
}
.dock-image-wrapper:hover .dock-shop-button {
  display: block;
}

/* Add this CSS to your stylesheet */
.size-disabled {
  position: relative;
  opacity: 0.5; /* Optional: To dim the size button */
  pointer-events: none; /* Optional: To prevent clicking */

  /* Adding the diagonal dash */
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black; /* Color of the diagonal dash */
    transform: rotate(-45deg);
    transform-origin: center;
  }
}



.body-conatainer{
  max-width: 1421px;
  margin: 0 auto;
  height: 100vh;
  font-family: patino;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header main-content"
    "header header main-content"
    /* "sidebar footer main-content" */
    "sidebar footer main-content";
/*   grid-template-columns: 1fr 1fr; */ 
  gap: 15px;
  height: 100%;
}
@media (max-width: 767px) {
  .body-conatainer{
  height: 100%;
}
  .grid-container {
    grid-template-areas:
      "scroll"
      "header"
      "sidebar"
      "main-content"
      "footer";
  }
  .header {
  height: 294px
}
  
  .sidebar {
    height: fit-content
}

.main-content {
  height: fit-content
}

.footer {
  height: fit-content
}

}

.header {
  grid-area: header;
  border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.sidebar {
  grid-area: sidebar;
    border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.main-content {
  grid-area: main-content;
   border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}

.footer {
  grid-area: footer;
   border-radius: 12px;
  background-color: #000;
  border: 3px #1E1E1E solid;
}